.container {
  max-width: var(--maxWidthContainer);
  min-width: 400px;
  border-radius: var(--borderRadius);
  background-color: var(--accentdark);
  box-shadow: var(--boxShadow);
  border: var(--border);
  border-width: 2px;
  overflow-y: initial !important;
  /* height: 100vh; */
  min-height: 667px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
}

.content {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 0.5em;
}

.content > h4,
.content > h5 {
  color: var(--textgrey);
}

.closeWrapper {
  position: absolute;
  display: block;
  right: 5px;
  top: 5px;
  background: transparent;
  border: none;
}

.closeIcon {
  cursor: pointer;
  color: var(--textgrey);
  background-color: var(--accentsoft);
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.closeIcon:hover {
  color: var(--accent);
}

@media screen and (max-width: 725px) {
  .container {
    height: 100vh;
    max-height: none;
    min-width: 0;
    max-width: none;
  }
  .content {
    margin-bottom: var(--footerheight);
  }
}
