.container {
  max-width: var(--maxWidthContainer);
  min-width: 400px;
  border-radius: var(--borderRadius);
  background-color: var(--accentdark);
  box-shadow: var(--boxShadow);
  border: var(--border);
  border-width: 2px;
}

.content {
  padding: 10px 5px;
}
.closeWrapper {
  position: absolute;
  display: block;
  right: 5px;
  top: 5px;
  background: transparent;
  border: none;
}
.closeIcon {
  cursor: pointer;
  color: var(--textgrey);
  background-color: var(--accentsoft);
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
.closeIcon:hover {
  color: var(--accent);
}
